<nav class="navbar navbar-expand navbar-dark bg-dark px-2">

    <div class="side-nav-button p-2  text-light" (click)="sideNavToggle()">
        <i class="fa-solid fa-bars"></i>
  
    </div>
     <a class="navbar-brand  px-4" href="#">WELCOME</a>
        <div class="navbar-collapse ">
        <ul class="navbar-nav me-auto ">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Men</a>
            <ul class="dropdown-menu dropdown-menu-dark">
                <li><a class="dropdown-item" href="#">1-10</a></li>
                <li><a class="dropdown-item" href="#">11-20</a></li>
                <li><a class="dropdown-item" href="#">21-30</a></li>

            </ul>

        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Women</a>
            <ul class="dropdown-menu dropdown-menu-dark">
                <li><a class="dropdown-item" href="#">1-10</a></li>
                <li><a class="dropdown-item" href="#">11-20</a></li>
                <li><a class="dropdown-item" href="#">21-30</a></li>

            </ul>

        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Kids</a>
            <ul class="dropdown-menu dropdown-menu-dark">
                <li><a class="dropdown-item" href="#">1-10</a></li>
                <li><a class="dropdown-item" href="#">11-20</a></li>
                <li><a class="dropdown-item" href="#">21-30</a></li>

            </ul>

        </li>
    </ul>
   
</div>
    <form class="d-flex me-5">
        <input class="form-control me-2" type="search" placeholder="Search">
        <button class="btn btn-outline-light" type="submit">Search</button>
    </form>
    <div class=" profile-logo dropstart">
    <button class="btn btn-outline-light dropdown-toggle" data-bs-toggle="dropdown">Username</button>
    <ul class="dropdown-menu dropdown-menu-dark">
        <li><a href="#" class="dropdown-item">Sign Up</a></li>
        <li><a href="#" class="dropdown-item">Login</a></li>
        <li><a href="#" class="dropdown-item">Your Profile</a></li>
        <li><a href="#" class="dropdown-item">Logout</a></li>
    </ul>
</div>

</nav>